<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
  <div style="text-align: center">
    <img src="../../../assets/images/user-icon.svg" width="50px">
    <div class="name" style="font-weight: bold">John</div>
    <div class="surname">Doe</div>
  </div>
  </ng-template>

  <ng-template carouselSlide>
    <div style="text-align: center">
      <img src="../../../assets/images/user-icon.svg" width="50px">
      <div class="name" style="font-weight: bold">John</div>
      <div class="surname">Doe</div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div style="text-align: center">
      <img src="../../../assets/images/user-icon.svg" width="50px">
      <div class="name" style="font-weight: bold">John</div>
      <div class="surname">Doe</div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div style="text-align: center">
      <img src="../../../assets/images/user-icon.svg" width="50px">
      <div class="name" style="font-weight: bold">John</div>
      <div class="surname">Doe</div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div style="text-align: center">
      <img src="../../../assets/images/user-icon.svg" width="50px">
      <div class="name" style="font-weight: bold">John</div>
      <div class="surname">Doe</div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div style="text-align: center">
      <img src="../../../assets/images/user-icon.svg" width="50px">
      <div class="name" style="font-weight: bold">John</div>
      <div class="surname">Doe</div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div style="text-align: center">
      <img src="../../../assets/images/user-icon.svg" width="50px">
      <div class="name" style="font-weight: bold">John</div>
      <div class="surname">Doe</div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div style="text-align: center">
      <img src="../../../assets/images/user-icon.svg" width="50px">
      <div class="name" style="font-weight: bold">John</div>
      <div class="surname">Doe</div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div style="text-align: center">
      <img src="../../../assets/images/user-icon.svg" width="50px">
      <div class="name" style="font-weight: bold">John</div>
      <div class="surname">Doe</div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div style="text-align: center">
      <img src="../../../assets/images/user-icon.svg" width="50px">
      <div class="name" style="font-weight: bold">John</div>
      <div class="surname">Doe</div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div style="text-align: center">
      <img src="../../../assets/images/user-icon.svg" width="50px">
      <div class="name" style="font-weight: bold">John</div>
      <div class="surname">Doe</div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div style="text-align: center">
      <img src="../../../assets/images/user-icon.svg" width="50px">
      <div class="name" style="font-weight: bold">John</div>
      <div class="surname">Doe</div>
    </div>
  </ng-template>

</owl-carousel-o>
