<form class="address_form">
  <div class="form-row">

    <div class="form-group col-lg-5 col-md-5 col-sm-12 home">
      <h3 style="text-align: center">HOME ADDRESS</h3>

      <div class="form-row">
        <label style="color: #FF1E64;">Address 1*</label>
        <mat-form-field style="width: 100%">
          <input matInput type="text">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>

      <div class="form-row">
        <label style="color: #FF1E64;">Address 2*</label>
        <mat-form-field style="width: 100%">
          <input matInput type="text">
          <mat-icon matSuffix>star</mat-icon>
        </mat-form-field>
      </div>

      <div class="form-row">
        <div class="col-7">
          <label style="color: #FF1E64;">City*</label>
          <mat-form-field style="width: 100%">
            <input matInput type="text">
            <mat-icon matSuffix>location_city</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-5">
          <label style="color: #FF1E64;">Postcode*</label>
          <mat-form-field style="width: 100%">
            <input matInput type="text">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <label style="color: #FF1E64;">Country*</label>
        <mat-form-field style="width: 100%">
          <input matInput type="text">
          <mat-icon matSuffix>flag</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group col-lg-5 col-md-5 col-sm-12 work">
      <h3 style="text-align: center">WORK ADDRESS</h3>

      <div class="form-row">
        <label style="color: #FF1E64;">Address 1*</label>
        <mat-form-field style="width: 100%">
          <input matInput type="text">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>

      <div class="form-row">
        <label style="color: #FF1E64;">Address 2*</label>
        <mat-form-field style="width: 100%">
          <input matInput type="text">
          <mat-icon matSuffix>star</mat-icon>
        </mat-form-field>
      </div>

      <div class="form-row">
        <div class="col-7">
          <label style="color: #FF1E64;">City*</label>
          <mat-form-field style="width: 100%">
            <input matInput type="text">
            <mat-icon matSuffix>location_city</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-5">
          <label style="color: #FF1E64;">Postcode*</label>
          <mat-form-field style="width: 100%">
            <input matInput type="text">
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <label style="color: #FF1E64;">Country*</label>
        <mat-form-field style="width: 100%">
          <input matInput type="text">
          <mat-icon matSuffix>flag</mat-icon>
        </mat-form-field>
      </div>


    </div>


  </div>
</form>
